@CHARSET "UTF-8";

body {
	padding-top: 3%;
    word-wrap: break-word;
    overflow-wrap: break-word;
    font-family: Microsoft YaHei;
    margin: 0 auto;
}

.navbar {
	font-size: 16px;
}

.navbar-brand {
	font-size: 20px;
}

@media (min-width: 1200px) {
/*returnTop start*/
p#back-to-top {  
    position: fixed;  
    display: none;
    width: 64px;
    height: 64px;
    bottom: 10%;  
    right: 1%;  
}

p#back-to-top a {  
    text-align: center;  
    text-decoration: none;  
    color: #d1d1d1;  
    display: block;  
    width: 64px; 
}

p#back-to-top a:hover {  
    color:#979797;  
}

p#back-to-top a span {  
    background: url(../img/sprite.png) no-repeat;  
    border-radius: 6px;  
    display: block;  
    height: 64px;  
    width: 64px;  
    margin-bottom: 5px;  
}
/*returnTop end*/
}
footer {
    margin: 20px auto 5px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    border-top: 1px solid #e8e8e8;
    border-radius: 5px;
    color: #504d50;
    background: #6cc;	
}